.header {
    display: flex;   
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: .4s ease-in-out;
}

#logoDiv {
    display: inline-block;
    text-align: center;   
}

#logo {
    display: inline-block;
    text-align: center;
    margin: auto;
    height:;
    width:200px;
}

nav {
    display: block;
    float:right;
    margin: 0 15px 0 0;
}

#menu {
    display: block;
    float:;
    margin:;
}

.menuNav {
    list-style: none;
    display: flex;
}

.menuNav li {
    display: block;
    margin: 0px 15px;
}

.nav li {
    display: inline-block;
}

.wrapper {
    overflow: hidden;
    clear: both;
    width: 100%;
    position: relative;
    height: 500px;
    background: linear-gradient(-25deg,#0C336A 0%,#0A7777 100%);
    font-family: 'Raleway', sans-serif;
}

#propic {
    text-align: center;
    /* display: block; */
    margin: auto;
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/anthony1.jpg) no-repeat;
    background-size: 165%;
    background-position: -51px -29px;
    border: 5px solid #FEFEFE;
}

#anthony {
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: auto;
}

#role {
    text-align: center;
    color: #D3D3D3;
    font-size: 25px;
    margin-top: auto;
}

#tagline {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.section {
    width: 780px;
    padding: 20px 20px 40px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

#projects {
    text-align: center;
    margin: auto;
}